* {
	box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
	font-family: 'Mulish', sans-serif;
	font-weight: 500;
	background: #fff;
	margin: 0 auto;
}

h1 {
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  margin: 0 auto;
 	padding: 0;
}

h2 {
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 0 auto;
 	padding: 0;
}

h3 {
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin: 0 auto;
 	padding: 0;
}

h4 {
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 auto;
 	padding: 0;
}

h5 {
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
 	padding: 0;
}



p {
  font-family: 'Mulish', sans-serif;
	font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
 	padding: 0;
}

a {
	text-decoration: none;
}

a:link {
	color: #000000;
}

a:visited{
	color: #000000;
}

a:hover{
	color: #8319E7;
	text-decoration: none;
}


/*************************
Header
**************************/

header {
  margin: 0 auto;
  padding: 16px 16px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .32);
  background-color: #fff;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 600px) {
  header {
    margin: 0 auto;
    padding: 16px 48px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .32);
    background-color: #fff;
    position: relative;
    z-index: 2;
  }
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.logo {
  margin-right: auto;
  text-decoration: none;
  font-family: 'Mulish', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: .25px;
  color: #000;
}


.social-icon {
  margin: 0 auto;
  padding: 0 0 0 1rem;
  width: 2.5rem;
}

/*************************
Project
**************************/

.project-container {
  overflow: auto;
  padding: 40px 0;
	margin: 0 auto;
}

.overview {
  padding: 0 32px 24px;
  margin: 0 auto;
	max-width: 1024px;
}

.project-section {
  padding: 80px 32px 0;
  margin: 0 auto;
	max-width: 1024px;
}

.project-section-gray {
	background-color: #F5F4F6;
	margin: 80px 0 0;
}

.project-section-reflection {
	max-width: 1024px;
  margin: 0 auto;
  padding: 40px 32px;
}

.project-section-reflection p {
	padding: 0 0 8px;
}

img {
  width: calc(100% / 1);
  height: auto;
  margin: 0;
  padding: 0;
}

.img-border {
	border: 1px solid #ccc;
}

.img-small {
	display: block;
	max-width: 800px;
	height: auto;
  margin: auto;
  padding: 0;
}


.project-container h1 {
  text-align: center;
}


.overview-item {
  padding: 48px 0 0;
  margin: 0 auto;
}

.overview-item h4 {
  padding: 0 0 8px;
  margin: 0 auto;
}


.project-section-header {
	padding: 0 0 32px 0;
}

.project-section h2 {
  text-align: center;
  padding: 0 0 16px;
}

.project-section-gray h2 {
  text-align: center;
  padding: 0 0 16px;
}

.project-section-header p {
  padding: 0 0 8px 0;
}


div, iframe {
	display: block;
	margin: 0 auto;
}

.project-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 40px;
}


.project-section-content {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 0;
}


.data-container {
  padding: 24px;
  margin: 0 auto;
  background-color: #E8F2FF;
  border-radius: 4px;
  width: 50%;
}

.data-container h4 {
  padding: 0 0 8px;
  line-height: 32px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  line-height: 24px;
  padding: 8px 0 0;
}


ol {
	list-style: none;
	counter-reset: circle-counter;
  margin: 0;
  padding: 0;
	display: grid;
	grid-gap: 20px;
}

ol li {
	counter-increment: circle-counter;
	display: grid;
	grid-template-columns: 0 1fr;
	grid-gap: 64px;
	align-items: start;
	font-size: 20px;
	line-height: 32px;

}

ol li::before {
	content: counter(circle-counter);
	width: 48px;
	height: 48px;
	border: 1px solid #ccc;
	border-radius: 50%;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	padding-top: 10px;
}

.project-section-results h2 {
	padding-bottom: 32px;
}

.story {
	display: flex;
	flex-direction: row;
	gap: 16px;
	margin: 0;
	padding-bottom: 40px;
}

.story-item {
	text-align: center;
	border: 1px solid #007AFF;
	border-radius: 4px;
	padding: 16px;
	margin: 0 auto;
	flex-grow:1;
  flex-basis: 0;
}

.story-item h5 {
	padding-bottom: 8px;
	margin: 0;
}

.two-column {
    display: flex;
    justify-content: center;
		align-items: flex-start;
}


.two-column .item-left {
	width: 75%;
	margin-right: 24px;
}

.two-column .item-right {
	width: 25%;
}

/*************************
Carousels
**************************/

.carousels h3 {
	text-align: center;
	padding: 0 0 24px 0;
}

#carouselExampleControls-1 .carousel-inner, #carouselExampleControls-2 .carousel-inner, #carouselExampleControls-3 .carousel-inner {
	background-color: #F5F4F6;
	padding: 32px 56px;
	margin-bottom: 40px;
	height: 536px;
}

.carousel-item.active {
    display: flex;
    justify-content: center;
		align-items: flex-start;
}

#carouselExampleControls-1 .carousel-item .left, #carouselExampleControls-2 .carousel-item .left, #carouselExampleControls-3 .carousel-item .left{
	width: 40%;
	margin-right: 48px;
}

#carouselExampleControls-1 .carousel-item .right, #carouselExampleControls-2 .carousel-item .right, #carouselExampleControls-3 .carousel-item .right{
	width: 60%
}


.carousel-item p {
	padding-top: 8px;
}

#carouselExampleControls-1 .carousel-control-prev, #carouselExampleControls-2 .carousel-control-prev, #carouselExampleControls-3 .carousel-control-prev {
	width: 48px;
}

#carouselExampleControls-1 .carousel-control-next, #carouselExampleControls-2 .carousel-control-next, #carouselExampleControls-3 .carousel-control-next {
	width: 48px;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
