* {
	box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
	font-family: 'Mulish', sans-serif;
	font-weight: 500;
	background: #fff;
	margin: 0 auto;
}

h1 {
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  margin: 0 auto;
 	padding: 0;
}

h2 {
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 0 auto;
 	padding: 0;
}

h3 {
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin: 0 auto;
 	padding: 0;
}

h4 {
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 auto;
 	padding: 0;
}

h5 {
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
 	padding: 0;
}

p {
  font-family: 'Mulish', sans-serif;
	font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
 	padding: 0;
}


button {
	background-color: #fff;
	border: 1px solid black;
	border-radius: 4px;
	padding: 16px 20px;
	text-align: center;
	text-decoration: none;
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

button:hover {
	border: 2px solid black;
}

/*************************
Header
**************************/

header {
  margin: 0 auto;
  padding: 16px 16px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .32);
  background-color: #fff;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 600px) {
  header {
    margin: 0 auto;
    padding: 16px 48px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .32);
    background-color: #fff;
    position: relative;
    z-index: 2;
  }
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.logo {
  margin-right: auto;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: .25px;
  color: #000;
}


.social-icon {
  margin: 0 auto;
  padding: 0 0 0 1rem;
  width: 2.5rem;
}

/*************************
Project
**************************/


img {
  width: calc(100% / 1);
  height: auto;
  margin: 0;
  padding: 0;
}

.project-container {
  overflow: auto;
  padding: 40px 32px 80px;
	margin: 0 auto;
  max-width: 1024px;
}

.project-container h1 {
  text-align: center;
}

.overview {
  padding: 0 0 24px;
  margin: 0 auto;
}

.overview-item {
  padding: 48px 0 0;
  margin: 0 auto;
}

.overview-item h4 {
  padding: 0 0 8px;
  margin: 0 auto;
}

.project-section {
  padding: 80px 0 0;
  margin: 0 auto;
}


.project-section-header {
	padding: 0 0 32px 0;
}

.project-section h2 {
  text-align: center;
  padding: 0 0 16px;
}

.project-section-header p {
  padding: 0 0 8px 0;
}

.project-section-content {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 0;
}


.data-container {
  padding: 24px;
  margin: 0 auto;
  background-color: #E8F2FF;
  border-radius: 4px;
  width: 50%;
}

.data-container h4 {
  padding: 0 0 8px;
  line-height: 32px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  line-height: 24px;
  padding: 8px 0 0;
}

.story {
	display: flex;
	flex-direction: row;
	gap: 16px;
	margin: 0;
	padding-bottom: 40px;
}

.story-item {
	text-align: center;
	border: 1px solid #007AFF;
	border-radius: 4px;
	padding: 16px;
	margin: 0 auto;
	flex-grow:1;
  flex-basis: 0;
}

.story-item h5 {
	padding-bottom: 8px;
	margin: 0;
}

.project-section-reflection {
	background-color: #f8f8f8;
	margin: 0 auto;
	padding: 1rem;
}

/*************************
Project
**************************/

.carousel-container {
	display: flex;
	flex-flow: column;
	overflow-x: auto;
}

.carousel-slide {
	display: flex;
	flex-flow: row;
	background-color: #F5F4F6;
	padding: 32px;
}


.carousel-slide .flex-left {
	width: 35%;
	margin-right: 64px;
}

.carousel-slide .flex-right {
	width: 65%;
	flex-flow: row nowrap;
}

.carousel-slide p {
	padding-top: 8px;
}




#carouselExampleControls .carousel-item {
	background-color: #F5F4F6;
	padding: 32px 48px;
}


#carouselExampleControls .carousel-item .left {
	float: left;
}

#carouselExampleControls .carousel-item .right {
	float: right;
}

#carouselExampleControls .carousel-item:after {
	content: "";
  display: table;
  clear: both;
}

.carousel-item p {
	padding-top: 8px;
}





#carouselExampleControls .carousel-control-prev {
	width: 48px;
}

#carouselExampleControls .carousel-control-next {
	width: 48px;
}
